{% extends "../layouts/layout.html" %}

{% block content %}
    <section class="body-text body-text--about">
        <h2 class="body-text__header body-text__header--about">
            Hi! I'm Jennifer Cahalane
        </h2>

        <p class="body-text__paragraph body-text__paragraph--about">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam nibh elit, congue in posuere sit amet, dignissim at mi. Pellentesque lacinia turpis sed ante ornare dignissim. Vivamus eleifend sem quis eros vulputate consequat. Mauris quis pellentesque mi. Nam vitae rhoncus eros. Sed posuere lacus ut tellus malesuada, ut rutrum ex porta. Cras quam est, commodo id ultricies in, sagittis sit amet felis. Pellentesque ac felis sed nulla consectetur laoreet. Nulla euismod facilisis ex, ac efficitur urna ultrices in. Praesent scelerisque lobortis lorem quis volutpat. Etiam suscipit dictum diam, eu porttitor enim venenatis ut. Vestibulum sed molestie ante.
        </p>

        <p class="body-text__paragraph body-text__paragraph--about">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque accumsan id tellus ac sagittis. Nunc volutpat tellus leo, quis molestie nisl mollis eget. Nunc suscipit purus vitae porttitor bibendum. Proin quis mi molestie, tincidunt erat facilisis, accumsan erat. Pellentesque aliquet sapien quis mauris luctus, eu rhoncus dolor feugiat. In hac habitasse platea dictumst. Aenean varius augue ac lobortis scelerisque. Vestibulum quis orci nibh. Maecenas id <a class="body-text__link" href="www.google.com">tortor mauris.</a> Aenean ullamcorper lacus eu leo sodales, vel dictum purus molestie. Nam blandit felis sit amet justo dictum auctor. Maecenas nunc felis, accumsan fringilla accumsan vel, lobortis id risus. Suspendisse hendrerit rhoncus tincidunt. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris eu ex fermentum, ultrices leo vitae, eleifend arcu.
        </p>
    </section>
{% endblock %}