{% extends "../layouts/layout.html" %}

{% block content %}
    <section class="body-text body-text--about">
        <h2 class="body-text__header body-text__header--about">
            Hi! I'm Jennifer Cahalane
        </h2>

        <p class="body-text__paragraph body-text__paragraph--about">
            I'm {{ about.age }}, and currently reside in New York City where I work as a software engineer.  In my spare time, I'm typically crocheting <a href="/create/post/152221608366" class="body-text__link">stuffed dinosaurs</a> (or other cuddly plush animals) or reading excessive amounts of the sci-fi/fantasy books available on Kindle Unlimited (to keep from spending entire paychecks on books).  I can also be found playing in social soccer leagues around the city, or hanging upside down from a <a href="/create/post/152129843481" class="body-text__link">trapeze</a>.
        </p>

        <p class="body-text__paragraph body-text__paragraph--about">
            In 2014, I graduated from the University of Pennsylvania</a> with a Bachelor of Science in Engineering.  I double majored in <a href="http://cg.cis.upenn.edu/dmd_program.html" class="body-text__link">Digital Media Design</a> (DMD), and <a href="https://www.design.upenn.edu/fine-arts/undergraduate/program" class="body-text__link">Fine Arts</a>.  Because DMD is a Computer Science major with a focus in computer graphics and a side of art, my studies culminated in a <a href="/create/post/152209710411" class="body-text__link">senior design project</a> that used Three.js to create a digital mannequin that could be posed using both forward and inverse kinematics.  My <a href="https://upenn-finearts.squarespace.com/jennifer-cahalane" class="body-text__link">fine arts thesis</a>, on the other hand, was more of a mixed media exploration of color and line.
        </p>
    </section>
{% endblock %}