{% extends "../layouts/layout.html" %}

{% block content %}
    <section class="body-text body-text--about">
        <h2 class="body-text__header body-text__header--about">
            Creative Makings
        </h2>
    </section>
    <section class="media media--all">
        {% for post in posts %}
            <a href="/create/post/{{ post.id  }}" class="media-unit media-unit--all" data-post-id="{{ post.id }}">
                {% if post.type == "video" %}

                    {% set post_player = post.player | first %}

                    {{ post_player.embed_code | safe }}

                {% endif %}

                {% if post.type == "photo" %}

                    {% set post_photo = post.photos | first %}

                    <span class="media-unit__image media-unit__image--all" style="background-image:url({{ post_photo.original_size.url }})"></span>

                {% endif %}
            </a>

        {% endfor %}
    </section>

    </section>
{% endblock %}