{% extends "../layouts/layout.html" %}

{% block content %}
    <section class="body-text body-text--resume">
        <h2 class="body-text__header body-text__header--resume">
            Resume
        </h2>
    </section>
    <section class="resume__wrapper">
    <!-- this should stay sticky as you scroll -->
        <div class="resume__downloads-wrapper js-resume__downloads-wrapper">
            <div class="resume__downloads js-resume__downloads">
                <div class="body-text">
                    <p class="body-text__paragraph">
                        <a href="/docs/jennifer_cahalane-resume.pdf" class="body-text__link body-text__link--resume-download">PDF</a>

                        <a href="https://github.com/cahalanej/personal-site/blob/master/src/docs/resume-cahalane_jennifer.md" class="body-text__link body-text__link--resume-download">Markdown</a>

                        <a href="/docs/resume-cahalane_jennifer.txt" class="body-text__link body-text__link--resume-download">.txt</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="resume__content">
            <h2 class="body-text__section-header body-text__section-header--resume">
                Experience
            </h2>
             <section class="body-text body-text--resume">
                <h2 class="body-text__header body-text__header--resume">
                    Thrillist Media Group
                </h2>
                <h3 class="body-text__sub-header body-text__sub-header--resume">
                    Software Engineer, Platform Launches
                </h3>
                <span class="body-text__bold body-text__bold--resume">February 2016 to Present</span>
                <p class="body-text__paragraph body-text__paragraph--resume">
                    Acted as lead to build a new content site in under 4 months.  Worked on all aspects of the site, including search, landing page, and content pages.  Focus on writing reuable, modular code using PHP, JavaScript, HTML, and SCSS.
                </p>

                <h3 class="body-text__sub-header body-text__sub-header--resume">
                    Full Stack Developer
                </h3>
                <span class="body-text__bold body-text__bold--resume">June 2014 to February 2016</span>
                <p class="body-text__paragraph body-text__paragraph--resume">
                    Build forward facing features for content and commerce sites using PHP, JavaScript, HTML, and SCSS.  Projects have included: building a system to allow users to save places, and refactoring and restructuring server side article logic.
                </p>


                <h2 class="body-text__header body-text__header--resume">
                    Medialets
                </h2>
                <h3 class="body-text__sub-header body-text__sub-header--resume">
                    Front End Web Developer Intern
                </h3>
                <span class="body-text__bold body-text__bold--resume">Summer 2013</span>
                <p class="body-text__paragraph body-text__paragraph--resume">
                    Built web app to display advertisements for use by the sales team. Used Backbone.js, Node.js, JavaScript, SCSS, CSS, and HTML
                </p>

                <h2 class="body-text__header body-text__header--resume">
                    University of Pennsylvania
                </h2>
                <h3 class="body-text__sub-header body-text__sub-header--resume">
                    Intructor - Ruby on Rails
                </h3>
                <span class="body-text__bold body-text__bold--resume">August 2013 - May 2014</span>
                <p class="body-text__paragraph body-text__paragraph--resume">
                    Taught Ruby on Rails, HTML, CSS and JavaScript to class of 20. Created lesson plans, provided one-on-one help, and managed 2 TAs
                </p>

                <h3 class="body-text__sub-header body-text__sub-header--resume">
                    Teaching Assistant - Ruby on Rails
                </h3>
                <span class="body-text__bold body-text__bold--resume">Fall 2012</span>
                <p class="body-text__paragraph body-text__paragraph--resume">
                    Assisted in the teaching of Ruby on Rails, HTML, CSS, and JavaScript to over 30 students through one-on-one help and grading.
                </p>

                <h3 class="body-text__sub-header body-text__sub-header--resume">
                    Sound Director
                </h3>
                <span class="body-text__bold body-text__bold--resume">May 2012 - May 2014</span>
                <p class="body-text__paragraph body-text__paragraph--resume">
                    Managed operation of the committee, including coordinating over 15 audio technicians, and managing a budget in excess of $15,000.
                </p>

                <h3 class="body-text__sub-header body-text__sub-header--resume">
                    Sound Technician
                </h3>
                <span class="body-text__bold body-text__bold--resume">October 2010 - May 2014</span>
                <p class="body-text__paragraph body-text__paragraph--resume">
                    Worked as an audio technician, problem solving audio concerns as needed.
                </p>

                <h2 class="body-text__header body-text__header--resume">
                    Freelance
                </h2>

                <h3 class="body-text__sub-header body-text__sub-header--resume">
                    Web Developer
                </h3>
                <span class="body-text__bold body-text__bold--resume">May 2012 - May 2014</span>
                <p class="body-text__paragraph body-text__paragraph--resume">
                    Designed and built web apps for clients using HTML, CSS, jQuery, and Ruby on Rails. Created icons using Photoshop and Illustrator.
                </p>
            </section>

            {% include "../partials/resume-skills.html" %}

            <h2 class="body-text__section-header body-text__section-header--resume">
                Education
            </h2>
            <section class="body-text body-text--resume">
                <h3 class="body-text__sub-header body-text__sub-header--resume">
                    University of Pennsylvania
                </h3>
                <p class="body-text__paragraph body-text__paragraph--resume">
                    BSE in Digital Media Design and Fine Arts
                </p>
            </section>

            <h2 class="body-text__section-header body-text__section-header--resume">
                About Me
            </h2>
            <section class="body-text body-text--resume">
                <ul class="body-text__list">
                    <li class="body-text__list-item">
                        Crocheter of dinosaurs
                    </li>
                    <li class="body-text__list-item">
                        Wearer of mismatched socks
                    </li>
                    <li class="body-text__list-item">
                        Attempting to run off to join the circus
                    </li>
                </ul>
            </section>
        </div>
    </section>

{% endblock %}