.body-text__section-header {
    color: $color__black;
    font: 22px/28px $font__sans-serif;
    font-weight: $font-weight__bold;
    border-bottom: 1px solid $color__black;
    margin-bottom: 10px;
    padding-bottom: 5px;

}

.body-text__header,
.body-text h2 {
	font: 18px/24px $font__sans-serif;
	font-weight: $font-weight__bold;
	color: $color__comp;
	padding-bottom: 5px;
}

.body-text__sub-header {
	font: 15px/22px $font__sans-serif;
	font-weight: $font-weight__light;
	color: $color__eastern-blue;
	padding-left: 5px;
    font-variant: small-caps;
}

.body-text__bold {
	font: 12px/18px $font__sans-serif;
	font-weight: $font-weight__bold;
	color: $color__black;
	padding: 0 3px;
	font-variant: small-caps;
}

.body-text__bold--resume {
	display: block;
	padding-left: 10px;
}

.body-text__paragraph,
.body-text p {
	font: 12px/18px $font__serif;
	font-weight: $font-weight__light;
	padding: 0 10px 15px;
	color: $color__black;
}

.body-text__list {
    padding-left: 20px;
}

.body-text__list-item {
	font: 12px/18px $font__serif;
	font-weight: $font-weight__light;
	color: $color__black;
	list-style-type: none;

	&:before {
		color: $color__eastern-blue;
		content: '-';
		padding-right: 5px;
	}
}

.body-text__link,
.body-text a {
    z-index: 1;
    text-decoration: none;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    box-shadow: inset 0 -2px 0 rgba($color__comp, 0.6);
    color: inherit;
    position: relative;
    color: $color__black;
    z-index: 1;
    padding: 0 2px;

    &:hover {
	    color: $color__white;
	    background: rgba($color__comp, 0.6);
	}
}

.body-text__link--resume-download {
	margin: 5px;
	display: inline-block;
}

@media only screen and (min-width: 575px) {
	.body-text__paragraph,
	.body-text p {
		padding: 0 20px 20px;
		font: 14px/22px $font__serif;
	}


	.body-text__list-item {
		font: 14px/22px $font__serif;
	}

	.body-text__link--resume-download {
		display: table;
		margin: 5px 0;
	}

	.body-text__sub-header {
		padding-bottom: 10px;
	}

	.body-text__sub-header--resume {
	    display: inline-block;
	}

	.body-text__bold--resume {
		display: inline;
		padding-left: 0;

		&:before {
			content: ':';
			padding: 0 3px;
			display: inline-block;
		}
	}
}