.body-text__header,
.body-text h2 {
	font: 18px/24px $font__sans-serif;
	font-weight: $font-weight__bold;
	color: $color__comp;
	padding-bottom: 10px;
}

.body-text__paragraph,
.body-text p {
	font: 12px/18px $font__serif;
	font-weight: $font-weight__light;
	padding: 0 10px 15px;
	color: $color__black;
}

.body-text__link,
.body-text a {
    z-index: 1;
    text-decoration: none;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    box-shadow: inset 0 -2px 0 rgba($color__comp, 0.6);
    color: inherit;
    position: relative;
    color: $color__black;
    z-index: 1;
    padding: 0 2px;

    &:hover {
	    color: $color__white;
	    background: rgba($color__comp, 0.6);
	}
}

.body-text__link--resume-download {
	display: table;
	margin: 5px 0;
}

@media only screen and (min-width: 575px) {
	.body-text__paragraph,
	.body-text p {
		padding: 0 20px 20px;
		font: 14px/22px $font__serif;
	}
}