.nav {
    width: 100%;
}

.nav__logo-wrapper {
	background-color: $color__eastern-blue;
    padding: 5px;
}

.nav__block {
	border-bottom: 1px solid $color__eastern-blue;
}

.nav__elements {
	font-size: 0;
    padding: 0 0 0 10px;
}

.nav__item {
    display: inline-block;
    padding: 5px 0px 5px 10px;
    white-space: nowrap;
    width: calc(25%);

    &:first-of-type {
		padding-left: 0;
	}
}

.nav__item-link {
	color: $color__black;
	font: 14px/14px $font__sans-serif;
	font-weight: $font-weight__bold;
	text-decoration: none;
    font-variant: small-caps;

	&.is-active {
		color: $color__comp;
	}

	&:hover {
		color: rgba($color__comp, 0.6);
	}
}

.nav__block-wrapper {
	height: 25px;
}

.nav__block-wrapper.sticky {
	.nav__block {
		background: $color__white;
		width: 100%;
		position: fixed;
		top: 0;
		z-index: 2;
	}

	.nav__elements {
	    margin: 0 auto;
	}
}

@media only screen and (min-width: 575px) {
	.nav {
	    margin-top: 5px;
	}

	.nav__logo-wrapper {
	    padding: 10px;
	}

	.nav__item-link {
		&:hover {
			color: rgba($color__comp, 0.6);
		}
	}
}

@media only screen and (min-width: 750px) {
	.nav {
		max-width: 75vw;
		margin-top: 15px;
	}

	.nav__logo-wrapper {
		max-width: 75vw;
	}

	.nav__block-wrapper.sticky {
		max-width: none;

		.nav__elements {
			max-width: 75vw;
		}
	}
}