.media {
	display: flex;
    max-width: 900px;
    margin: 0 auto;
    justify-content: center;
}

.media-unit {
	display: block;
	align-items: center;
    box-shadow: 0 0 3px rgba($color__black, 0.2);
    margin: 10px;
}

// ALL MEDIA
.media--all {
	flex-wrap: wrap;
    align-items: center;
}

.media-unit--all {
	display: flex;
    width: 250px;
    height: 250px;

	&:hover {
    	box-shadow: 0 0 10px rgba($color__black, 0.3);
    }
}

.media-unit__image--all {
	width: 250px;
    display: inline-block;
    padding-bottom: 250px;
    background-size: cover;
    background-position: center center;
}


// SINGLE POST
.media--post {
    padding: 10px 20px;
    flex-direction: column;
}

.media__wrapper--post {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
}

.media-unit--post {
	width: auto;
	height: auto;
	margin: 0;
	box-shadow: none;
}

.media__video-player {
    display: flex;
    justify-content: center;
}

.media-unit__image--post {
	max-width: 100%;
	width: auto;
    display: block;
    padding-bottom: 0;
    background-size: initial;
    background-position: 0 0;
    box-shadow: 0 0 3px rgba($color__black, 0.2);
    margin-bottom: 10px;

    &:last-of-type {
    	margin-bottom: 0;
    }
}

.media__caption {
	display: inline-block;
	margin-top: 10px;
}

.media__tags {
	font: 11px/16px $font__sans-serif;
	font-weight: $font-weight__thin;
	color: $color__comp;
}

.media__tag {
	padding: 5px;
    display: inline-block;
}

.media__video-player--400,
.media__video-player--500 {
	display: none;
}

@media only screen and (min-width: 575px) {
	.media--post {
		flex-direction: row;
	}

	.media__wrapper--post {
	    margin: 0;
	    width: 50%;
	}

	.media__caption {
		width: 50%;
		margin: 0;
		padding-left: 20px;
	}

}

@media only screen and (min-width: 750px) {
	.media__video-player--250 {
		display: none;
	}

	.media__video-player--400 {
		display: block;
	}
}
