.resume__wrapper {
	display: flex;
	flex-direction: column;
}

.resume__downloads {
	text-align: right;
}

.rs__wrapper {
	display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.rs__column {
	padding: 0 15px;
}

.rs__skill {
	display: flex;
	font: 14px/22px $font__serif;
	font-weight: $font-weight__light;
	margin: 10px;
}

.rs__skill-name {
	color: $color__black;
	width: 90px;
}

.rs__stars {
	color: $color__eastern-blue;
}

@media only screen and (min-width: 575px) {
	.resume__wrapper {
		flex-direction: row;
	}

	.resume__downloads-wrapper {
		margin-right: 20px;
		border-right: 1px solid $color__eastern-blue;
		min-width: 125px;
		position: relative;
	}

	.resume__downloads {
		text-align: left;

		&.sticky {
			position: fixed;
			top: 30px;
		}
	}
}