$font__sans-serif: 'Lato', 'Helvetica', sans-serif;
$font__serif: 'Merriweather', 'Arial', serif;

$font-weight__thin: 100;
$font-weight__light: 300;
$font-weight__regular: 400;
$font-weight__bold: 700;


$color__white: #ffffff;
$color__black: #041a1a;
$color__eastern-blue: #1eb1af;
$color__comp: #9b1a5d;